{% extends "menu.html" %}
{% load tags %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}


{% block title %} Orden de Trabajo listos para entregar{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/bootstrapt.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables/buttons.dataTables.min.css' %}">
    <script src="{% static 'js/util.js' %}"></script>
    <link href="/static/vendor/select2/dist/css/select2.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
    <script src="/static/autocomplete_light/jquery.init.js"></script>
    <!--script src="/static/vendor/select2/dist/js/select2.full.js"></script>
    <script src="/static/vendor/select2/dist/js/i18n/es.js"></script-->
    <script src="/static/autocomplete_light/autocomplete.init.js"></script>
    <script src="/static/autocomplete_light/forward.js"></script>
    <script src="/static/autocomplete_light/select2.js"></script>
    <script src="/static/autocomplete_light/jquery.post-setup.js"></script>


    {{ form.media }}
    <style>
        .select2-container .select2-selection--single {
            height: 36px;
        }
    .select2-container {
         min-width: 10em;
    }
    </style>
    <script type="text/javascript">
    var table = '';
    var clinica = '';
    var especialidad = '';
    var paciente = '';
    var tipoTrabajo = '';
      $(document).bind('change', function (e) {
        console.log(e.target.name)
        if (e.target.name == 'clinicaExterna') {
                if (e.target.value.length > 0)
                    clinica = parseInt(e.target.value);
                else
                    clinica = null;
            } else if (e.target.name == 'especialidad') {
                if (e.target.value.length > 0)
                    especialidad = parseInt(e.target.value);
                else
                    especialidad = null;
            } else if (e.target.name == 'paciente') {
                if (e.target.value.length > 0)
                    paciente = parseInt(e.target.value);
                else
                    paciente = null;
            } else if (e.target.name == 'tipoTrabajo') {
                if (e.target.value.length > 0)
                    tipoTrabajo = parseInt(e.target.value);
                else
                    tipoTrabajo = null;
            }
     });

    </script>
    <div class="form-row">
        <div class="card shadow mb-12">
            <div class="card-body">
                <div class="row">
                    {% for field in form %}
                        <div class="form-group col-md-2 mb-0">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                    <div class="form-group col-md-2 mb-0">
                        <button class="btn btn-sm btn-primary" style="margin-top: 28px;" onclick="table.ajax.reload();"> Buscar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="botones-exportar"></div>
    <br>
    <table id="asegurados" class="table table-striped table-bordered" style="width:100%" data-server-side="true">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Trabajo</th>
          <th>Reenvio</th>
          <th>Nº repetir</th>
          <th>Sucursal/Particular</th>
          <th>Paciente</th>
          <th>Tipo de Trabajo</th>
          <th>Estado</th>
          <th>Area</th>
          <th>Factura Nº</th>
          <th>Fecha Solicitud</th>
          <th>Fecha Entrega</th>
          <th>Cantidad</th>
          <th>Color</th>
          <th>Maxilar</th>
          <th>Dientes</th>
        </tr>
      </thead>
    </table>

    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'datatables/jszip.min.js' %}"></script>
  <script src="{% static 'datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'datatables/buttons.print.min.js' %}"></script>
  <script>
    var table = null;

      $(document).ready(function() {
          table = $('#asegurados').DataTable({
              "language": lenguaje,
              "serverSide": true,
              "searching": false,
              //"ordering": false,
              "pageLength": 25,
              "lengthMenu": [ [10, 25, 50, 100], [10, 25, 50, 100] ],
              scrollX: true,
              "ajax": {
                "url": '/rest/orpe-list-intra/?format=datatables&permiso={{ permiso }}',
                "data": function ( d ) {
                    d.cargaDesde = $('#id_cargaDesde').val();
                    d.cargaHasta = $('#id_cargaHasta').val();
                    d.trabajo = $('#id_orden').val();
                    d.entregaDesde = $('#id_entregaDesde').val();
                    d.entregaHasta = $('#id_entregaHasta').val();
                    d.metodo = $('#id_metodo').val();
                    d.clinica = clinica;
                    d.especialidad = especialidad;
                    d.paciente = paciente;
                    d.tipoTrabajo = tipoTrabajo;
                },
            },
              columnDefs: [
                {
                    "targets": [0,1,2,3,4,5,6,7,8,9,10,13,14,15,16],
                    "orderable": false
                },
                {
                    "targets": [0,1,3],
                    "visible": false
                },
              ],
              "columns": [
                  {'data': 'maxilarInferiorCompleto'},
                  {'data': 'maxilarSuperiorCompleto'},
                  {'data': 'id'},
                  {'data': 'orden.metodoEnvio'},
                  {'data': 'orden.trabajoRepetido'},
                  {'data': 'orden.clinicaExterna.nombreClinica'},
                  {'data': 'orden.paciente.nombreApellido'},
                  {'data': 'trabajo'},
                  {'data': 'estado'},
                  {'data': 'area'},
                  {'data': 'factura'},
                  {'data': 'orden.fechaSolicitud'},
                  {'data': 'fechaEntrega'},
                  {'data': 'cantidad'},
                  {'data': 'color_st'},
                  {'data': function ( row, type, val, meta ) {
                      var max = '';
                      if (row.maxilarInferiorCompleto == true) {
                          max += 'Inferior';
                      }
                      if (row.maxilarSuperiorCompleto == true) {
                          max += ' Superior';
                      }
                      return max;
                  }
                  },
                  {'data': 'dientes'}
                ],
          });

            // Agregar botones de exportación
              new $.fn.dataTable.Buttons(table, {
                buttons: [
                  {
                    extend: 'copy',
                    exportOptions: {
                      page: 'all' // Exportar todas las páginas
                    }
                  },
                  {
                    extend: 'excel',
                    exportOptions: {
                      page: 'all' // Exportar todas las páginas
                    }
                  },
                  {
                    extend: 'pdf',
                    exportOptions: {
                      page: 'all' // Exportar todas las páginas
                    }
                  },
                  {
                    extend: 'csv',
                    exportOptions: {
                      page: 'all' // Exportar todas las páginas
                    }
                  }
                ]
              }).container().appendTo($('#botones-exportar'));

              // Agregar clases CSS a los botones de exportación
              $('#botones-exportar .btn').addClass('btn-sm btn-secondary');      });
  </script>
{% endblock %}