{% extends "menu.html" %}
{% load tags %}
{% load static %}

{% block title %} Modo Retiro {% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/bootstrapt.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <script src="{% static 'js/util.js' %}"></script>

    <div class="form-row">
        <form action="" method="get">
            <a class="btn btn-sm btn-success" href="{% url 'mretiro_create' %}"> Nuevo Modo </a>
        </form>
    </div>
    <br>
    <table id="asegurados" class="table table-striped table-bordered" style="width:100%" data-server-side="true">
      <thead>
        <tr>
          <th>Descripcion</th>
          <th>Creado Por</th>
          <th>Creado el</th>
          <th>realID</th>
          <th>Acciones</th>
        </tr>
      </thead>
    </table>

    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script>
      $(document).ready(function() {
          $('#asegurados').DataTable({
              "language": lenguaje,
              "serverSide": true,
              "ajax": '/rest/mer-list-intra/?format=datatables',
              columnDefs: [
                {
                    "targets": -1,
                    "orderable": false
                },
                {
                    "targets": 3,
                    "visible": false
                },

              ],
              order: [[3, 'desc']],
              "columns": [
                  {'data': 'descripcion'},
                  {'data': 'creado_por.username'},
                  {'data': 'creado_el'},
                  {'data': 'id'},
                  {'data': function ( row, type, val, meta ) {
                        return '<a type="button" href="/mretiro/update/'+row.id+'/" class="btn btn-warning btn-sm">Modificar</a> ' +
                            '<a type="button" href="/mretiro/delete/'+row.id+'/" class="btn btn-danger btn-sm">Borrar</a>';
                    }
                  },
                ],
          });
      });
  </script>
{% endblock %}