{% extends "menu.html" %}
{% load tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %} Ciudades {% endblock %}

{% block content %}
    {{ form.media }}
    <style>
        .select2-container .select2-selection--single {
            height: 36px;
        }
    </style>
    <div class="col-sm-6">
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a class="btn btn-primary" href="{% url 'ciudad_list' %}">Volver</a>
                {% endbuttons %}
        </form>
    </div>
{% endblock %}