{% extends "menu.html" %}
{% load tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %} Pacientes {% endblock %}

{% block content %}
    <link href="/static/vendor/select2/dist/css/select2.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
    <script src="/static/autocomplete_light/jquery.init.js"></script>
    <!--script src="/static/vendor/select2/dist/js/select2.full.js"></script>
    <script src="/static/vendor/select2/dist/js/i18n/es.js"></script-->
    <script src="/static/autocomplete_light/autocomplete.init.js"></script>
    <script src="/static/autocomplete_light/forward.js"></script>
    <script src="/static/autocomplete_light/select2.js"></script>
    <script src="/static/autocomplete_light/jquery.post-setup.js"></script>

    {{ form.media }}
    <style>
        .select2-container .select2-selection--single {
            height: 36px;
        }
    </style>
    <div class="col-sm-6">
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a class="btn btn-primary" href="{% url 'paciente_list' %}">Volver</a>
                {% endbuttons %}
        </form>
    </div>
{% endblock %}