{% extends "menu.html" %}
{% load tags %}
{% load static %}

{% block title %} Orden de Trabajo - Trabajo - Historial {% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/bootstrapt.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <script src="{% static 'js/util.js' %}"></script>

    <div class="form-row">
        <div class="form-group col-md-2 mb-0">
            <div class="form-group">
                <label for="id_orden">Orden</label>
                <input type="text" name="orden" value="{{ orden.orden.pk }}" readonly="readonly" maxlength="500" class="form-control" placeholder="Orden" title="" id="id_orden">
            </div>
        </div>
        <div class="form-group col-md-2 mb-0">
            <div class="form-group">
                <label for="id_doctor">Doctor</label>
                <input type="text" name="doctor" value="{{ orden.orden.clinicaExterna.descripcion }}" readonly="readonly" maxlength="500" class="form-control" placeholder="Doctor" title="" id="id_doctor">
            </div>
        </div>
        <div class="form-group col-md-2 mb-0">
            <div class="form-group">
                <label for="id_doctor">Paciente</label>
                <input type="text" name="paciente" value="{{ orden.orden.paciente.nombreApellido }}" readonly="readonly" maxlength="500" class="form-control" placeholder="Paciente" title="" id="id_paciente">
            </div>
        </div>
        <div class="form-group col-md-2 mb-0">
            <div class="form-group">
                <label for="id_doctor">Trabajo</label>
                <input type="text" name="trabajo" value="{{ orden.trabajo.descripcion }}" readonly="readonly" maxlength="500" class="form-control" placeholder="Trabajo" title="" id="id_trabajo">
            </div>
        </div>
        <div class="form-group col-md-2 mb-0">
            <div class="form-group">
                <label for="id_doctor">Fecha Solicitud</label>
                <input type="text" name="fecha" value="{{ orden.orden.fechaSolicitud|date:"d-m-Y" }}" readonly="readonly" maxlength="500" class="form-control" placeholder="Fecha" title="" id="id_fecha">
            </div>
        </div>
    </div>
    <br>
    <table id="asegurados" class="table table-striped table-bordered" style="width:100%" data-server-side="true">
      <thead>
        <tr>
          <th>Reenviado</th>
          <th>Fecha</th>
          <th>Acción Realizada</th>
          <th>Responsable</th>
          <th>Area</th>
          <th>Motivo</th>
        </tr>
      </thead>
    </table>

    <a class="btn btn-xs btn-primary" href="{% url 'orden_list' %}?especialidad={{ especialidad }}&clinica={{ clinica }}&tipoTrabajo={{ tipoTrabajo }}&paciente={{ paciente }}&desde={{ desde }}&hasta={{ hasta }}&particulares={{ particulares }}&odontos={{ odontos }}&area={{ area }}&estado={{ estado }}"> Volver </a>

    <!--br>
    <h2>Auditoria de la Orden </h2>
    <table class="table table-bordered">
        <thead>
            <th>Fecha</th>
            <th>Operacion</th>
            <th>Clinica</th>
            <th>Paciente</th>
            <th>Vendedor</th>
            <th>Motivo</th>
            <th>Usuario</th>
        </thead>
        <tbody>
            {% for h in history %}
                <tr>
                    <th>{{ h.history_date }}</th>
                    <th>{{ h.history_type }}</th>
                    <th>{{ h.clinicaExterna }}</th>
                    <th>{{ h.paciente }}</th>
                    <th>{{ h.vendedor }}</th>
                    <th>{{ h.motivoModificacion }}</th>
                    <th>{{ h.history_user|default_if_none:'' }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table-->

    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script>
      $(document).ready(function() {
          var trabajo = {{ pk }};
          $('#asegurados').DataTable({
              "language": lenguaje,
              "serverSide": true,
              "searching": false,
              "ajax": '/rest/his-list-intra/'+trabajo+'/?format=datatables',
              columnDefs: [
                {
                    "targets": 0,
                    "orderable": false
                },
              ],
              "columns": [
                  {'data': 'orden.metodoEnvio'},
                  {'data': 'fechaHora'},
                  {'data': 'estado'},
                  {'data': 'usuario.username'},
                  {'data': 'area'},
                  {'data': 'motivo'},
                ],
          });
      });
  </script>
{% endblock %}